@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  color: #eeeeee;
}


/* Custom Scroll Style */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.4);
  border-radius: 9999px;
  transition: background-color 0.3s ease;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 100, 100, 0.7);
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(100, 100, 100, 0.4) transparent;
}

.scroll-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-none::-webkit-scrollbar {
  display: none !important;
  width: 0px;
  height: 0px;
}


.inputNotFocus {
  outline: 1.5px solid #2a2a2a;
}

.inputFocus {
  outline: 1.5px solid #00adb5;
}

.FirstPartAndVideoPart {
  overflow-y: auto !important;
}

img {
  user-select: none;
}
